html,
body, .menu__link {
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background: #F5F5F5;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
  background: #F5F5F5;
}

a:hover {
  color: #56D8CE;
}

.header {
  background: #FAF6F6;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  margin: 0 74px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-right: 65px;
  color: #56D8CE;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding-right: 51px;
}

.menu__link {
  color: #4B4444;
  font-size: 16px;
  line-height: 20px;
}

.contacts {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.phone {
  font-size: 16px;
  line-height: 20px;
  color: #4B4444;
  padding-left: 24px;
  background: url(../images/phone-icon.svg) no-repeat 0% 50%;
}

.email {
  font-size: 16px;
  line-height: 20px;
  color: #4B4444;
  padding-left: 24px;
  background: url(../images/envelop-icon.svg) no-repeat 0% 50%;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 0.3fr 0.2fr;
      grid-template-rows: 1fr 0.3fr 0.2fr;
  color: #4B4444;
  padding-bottom: 10px;
}

.hero__title {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 90px 0 61px 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #4B4444;
}

.hero__discription {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  max-width: 609px;
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.hero__btn {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 217px;
  height: 44px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #56D8CE;
  border: 1px solid #56D8CE;
  border-radius: 5px;
}

.hero__slider {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  margin-top: 65px;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.dot {
  width: 19px;
  height: 19px;
  margin-right: 17px;
  border-radius: 50%;
  border: 2px solid #4B4444;
  cursor: pointer;
}

.dot--active {
  background: #4B4444;
}

.main-menu {
  padding: 49px 50px 78px 0;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-menu__link {
  display: block;
  width: 274px;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background: #56D8CE;
  font-size: 16px;
  line-height: 20px;
  color: #1F2833;
}

.main-menu__link:hover {
  color: tomato;
}

.benifits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 72px;
}

.benifits__title {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 37px;
  line-height: 44px;
  color: #4B4444;
}

.benifits__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

.benifits__card {
  width: 283px;
  height: 260px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benifits__card--short .card__title {
  margin-top: 31px;
}

.card__title {
  height: 58px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.brands {
  padding-bottom: 85px;
}

.brands__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #4B4444;
  text-align: center;
}

.brands__list {
  width: 1117px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands__link {
  width: 279px;
  height: 82px;
  margin: 70px 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 32%;
          flex: 0 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #56D8CE;
  border-radius: 5px;
  font-size: 24px;
  line-height: 29px;
  color: #4B4444;
}

.main__inner {
  padding: 51px 0;
}

.breadcrumbs {
  margin: 0 0 45px 74px;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 17px;
  color: #bfb7b7;
}

.content {
  margin: 0 42px 60px 150px;
  font-size: 20px;
  line-height: 24px;
}

.content p {
  margin-bottom: 20px;
}

.content__title {
  margin-bottom: 63px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.content__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 425px 1fr;
      grid-template-columns: 425px 1fr;
  gap: 71px;
  margin-right: 50px;
  margin-bottom: 64px;
}

.content__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 35px;
}

.equipment-type {
  margin: 65px 58px 0 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.equipment-type__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.equipment-type__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.equipment-type__card {
  max-width: 278px;
}

.equipment-type__card img {
  width: 278px;
  height: 233px;
}

.equipment-type__link {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #4B4444;
}

.drivers__cards {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.driver-card {
  width: 410px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a3e6e0;
  border: 2px solid #4B4444;
}

.driver-card__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

.driver-card__description {
  font-size: 16px;
}

.driver-card__list {
  font-size: 16px;
  list-style: square;
  padding-left: 20px;
}

.footer {
  background: #FAF6F6;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-menu {
  margin: 0 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu__title {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer-menu__item {
  margin-left: 15px;
  margin-bottom: 14px;
}

.footer-menu__link {
  font-size: 14px;
  line-height: 17px;
  color: #4B4444;
}
